/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --modal-attachment-font-family: var(--default-font-family);
  --modal-attachment-width: 520px;
  --modal-attachment-font-size: var(--default-font-size);
  --modal-attachment-text-color: var(--modal-font-color-light);
  --modal-attachment-pagination-arrow-size: 28px;
  --modal-attachment-pagination-arrow-color: var(--cool-grey);
  --modal-attachment-pagination-arrow-hover-color: color(var(--cool-grey) shade(20%));
  --modal-attachment-body-padding: calc(var(--default-padding) * 2);
}

.container {
  width: var(--modal-attachment-width);
  font-family: var(--modal-attachment-font-family);
  font-size: var(--modal-attachment-font-size);
}

.header {
}

.body {
  display: flex;
  flex-direction: column;
  padding: var(--modal-attachment-body-padding);
  justify-content: center;
}


.footer {
  padding: 0;
}

.halfButton {
  width: 50%;
}

.pagination {
  display: inline-block;
  margin-left: 8px;
}

.paginationNumbers {
  display: inline-block;
  min-width: 36px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: var(--modal-attachment-pagination-arrow-color);
}

.paginationArrow {
  height: var(--modal-attachment-pagination-arrow-size);
  transition: color var(--default-transition-duration) linear;
  line-height: var(--modal-attachment-pagination-arrow-size);
  color: var(--modal-attachment-pagination-arrow-color);

  &:hover {
    color: var(--modal-attachment-pagination-arrow-hover-color);
  }
}
