/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --modal-attachment-meta-font-size: var(--default-font-size-small);
  --modal-attachment-meta-heading-color: var(--violet-blue-two);
  --modal-attachment-meta-heading-font-size: var(--modal-attachment-meta-font-size);
}

.container {
  width: 100%;
  font-size: var(--modal-attachment-meta-font-size);
}

.block {
  box-sizing: border-box;
  width: 50%;
  vertical-align: top;

  &:nth-child(1) {
    padding: var(--default-padding-large) 10px 0 0;
  }

  &:nth-child(2) {
    padding: var(--default-padding-large) 0 0 10px;
  }
}

.heading {
  margin-bottom: var(--default-padding-small);
  letter-spacing: -0.1px;
  text-transform: uppercase;
  font-size: var(--modal-attachment-meta-heading-font-size);
  line-height: 22px;
  color: var(--modal-attachment-meta-heading-color);
}

.text {
  max-width: 215px;
  height: 20px;
  padding-bottom: var(--default-padding-small);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 20px;
  color: #000;
  @apply --text-overflow-ellipsis;
}

.type {
  text-transform: uppercase;
  composes: text;
}

.switcher {
  margin-right: 14px;
}
