/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding-top: calc(var(--default-padding) / 2);
}
